# Fichiers d'environnement - NE JAMAIS PARTAGER
.env

# Fichiers de cache générés automatiquement
.cache

# Dossiers de cache Python
__pycache__/
*.pyc

# Bases de données locales
*.db
*.sqlite
*.sqlite3

# Dossier des sauvegardes de serveur
guild_backups/
music_state_backups/
guild_configs/
web/
venv/
app.py
main2.py